extends layout

block content
	form(action='/send', method='POST')
		input(type='text', length='140', name='tweet')
		input(type='submit', value='Tweet')
	br
	
	-	if(tweets != null)
		ul
			each t in tweets
				li= t.value + ' posted on ' + t.createDate
	- else
		div(class='alert alert-info') We are tweetless.
	// !=partial('partials/chirp', {locals: {tweets: tweets}})