!!! 5
html(lang="en")
head
	title #{title}
	link(rel='stylesheet', href='/styles/bootstrap.css')
	link(rel='stylesheet', href='/styles/bootstrap-responsive.css')

	script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
body
	h1 #{header}
	block content