!!! 5
html(lang="en")
head
	title #{title}
	link(rel='stylesheet', href='/styles/bootstrap.css')
	link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
	link(rel='stylesheet', href='/styles/bootstrap-override.css')

	script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type='text/javascript', src='/assets/js/bootstrap-alert.js')
	script(type='text/javascript', src='/assets/js/bootstrap-button.js')
	script(type='text/javascript', src='/assets/js/bootstrap-carousel.js')
	script(type='text/javascript', src='/assets/js/bootstrap-collapse.js')
	script(type='text/javascript', src='/assets/js/bootstrap-dropdown.js')
	script(type='text/javascript', src='/assets/js/bootstrap-modal.js')
	script(type='text/javascript', src='/assets/js/bootstrap-popover.js')
	script(type='text/javascript', src='/assets/js/bootstrap-scrollspy.js')
	script(type='text/javascript', src='/assets/js/bootstrap-tab.js')
	script(type='text/javascript', src='/assets/js/bootstrap-tooltip.js')
	script(type='text/javascript', src='/assets/js/bootstrap-transition.js')
	script(type='text/javascript', src='/assets/js/bootstrap-typeahead.js')
body
	div(class='span6')
		h1 #{header}
		block content